body {
            font-family: Arial, Helvetica, sans-serif;
            background: #f2f2f2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1,
        .subtitle {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: #fff;
            text-align: center;
        }

        th,
        td {
            padding: 14px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background: #222;
            color: #fff;
        }

        /* Galeria */
        .gallery {
            display: flex;
            justify-content: center;
            gap: 12px;
            flex-wrap: wrap;
            padding: 10px 0 20px;
        }

        .gallery img {
            width: 320px;
            height: 200px;
            object-fit: cover;
            border-radius: 6px;
        }

        /* Linha separadora */
        .divider {
            width: 85%;
            height: 6px;
            background: #b0b0b0;
            margin: 0 auto 20px;
            border-radius: 3px;
        }



        .badge {
            display: inline-block;
            padding: 4px 8px;
            font-size: 12px;
            border-radius: 4px;
            background-color: #444;
            color: #fff;
        }

        .especial {
            background-color: #b00000;
        }

        .final {
            background-color: #006400;
        }